* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-green: #96a859;
  --dark-green: #283618;
  --white: #fefae0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  color: var(--dark-green);
}

header {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: var(--dark-green);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 24px;
  margin: 5px;
}

.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.nav-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 32px;
}

.header-link {
  color: var(--white);
  text-decoration: none;
}

.header-link:hover {
  color: var(--light-green);
  text-decoration: none;
}

.nav-link {
  font-size: 24px;
}

main {
  min-height: calc(100vh - 100px);
  padding: 20px;
  background-color: var(--white);
}

.image-tiles-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.tile-image {
  width: 300px;
  height: auto;
  padding: 20px;
}

.large-image {
  width: 80;
  height: auto;
}

.image-editor-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-editor-container-div {
  display: flex;
  flex-direction: row;
}

.palette-div {
  height: 100%;
  margin-right: 50px;
  padding: 5px 10px;
}

.palette-color-div {
  height: 60px;
  width: 60px;
  margin: 10px auto;
}

image-div {
  display: flex;
  flex-direction: column;
}

.image-button-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}